a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: grey;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    color:grey;
}

.tags{

  color: lightgrey;
  text-align:left;
}


.datum{
  padding-bottom:1%;
}


.eintrag{

}

#footer{


}

#header{
  font-size:1.5em;
  margin-top:1.5%;
  margin-left:1.5%;
}

#inhalt{


}


/* Large desktop */
@media (min-width: 1201px) {
  #inhalt{
    margin-top:4%;
    margin-left:30%;
    margin-right:30%;
  }

  .datum{
    text-indent: -4.3em;
    padding-bottom:1%;
  }

  a{
    font-size: 1.1em;
  }
}


/* Landscape phone to portrait tablet */
@media (max-width: 1200px) {
  #inhalt{
    margin-top:3%;
    margin-left:5%;
    margin-right:5%;
  }

  a{
    font-size: 1.7em;
  }

  .datum{
    text-indent: 0;
    padding-bottom:1%;
  }

  .eintrag{

    padding-bottom: 4%;
  }
}
